/.deps
/Makefile
/Makefile.in
/gmixvm
/gmixvm.o
/mixgtk.glade.bak
/mixgtk.gladep.bak
/mixgtk.o
/mixgtk_cmd_dispatcher.o
/mixgtk_config.o
/mixgtk_device.o
/mixgtk_external.o
/mixgtk_fontsel.o
/mixgtk_gen_handlers.o
/mixgtk_input.o
/mixgtk_mixal.o
/mixgtk_mixvm.o
/mixgtk_widgets.o
/mixgtk_wm.o
