/.deps
/Makefile
/Makefile.in
/libmix.a
/mix.o
/mix_code_file.o
/mix_config.o
/mix_device.o
/mix_eval.o
/mix_eval_scanner.c
/mix_eval_scanner.o
/mix_file.o
/mix_ins.o
/mix_io.o
/mix_parser.o
/mix_predicate.o
/mix_predicate_list.o
/mix_scanner.c
/mix_scanner.o
/mix_src_file.o
/mix_symbol_table.o
/mix_types.o
/mix_vm.o
/mix_vm_clock.o
/mix_vm_command.o
/mix_vm_dump.o
/xmix_device.o
/xmix_io.o
/xmix_vm.o
/xmix_vm_command.o
/xmix_vm_handlers.o
